/*@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), local('Montserrat'), url(../font/montserrat/Montserrat-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(../font/montserrat/Montserrat-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat Semibold'), local('Montserrat-Semibold'), url(../font/montserrat/Montserrat-Semibold.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../font/montserrat/Montserrat-Bold.woff2) format('woff2');
}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #252525;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a:focus,
a:hover {
	text-decoration: none;
}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
	margin-bottom: 20px;
	line-height: 1.8;
	color: #252525;
}
.no-padding {
	padding: 0!important;
}
.no-margin {
	margin: 0!important;
}
.pb-0 {
	padding-bottom: 0!important;
}
.mt-10 {
	margin-top: 10px;
}
.h1, h1 {
	font-size: 46px;
}
.h2, h2 {
	font-size: 44px;
	font-weight: normal;
	margin-bottom: 20px;
}
.h3, h3 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
}
.h4, h4 {
	font-size: 19px;
	font-weight: normal;
}
.h5, h5 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}
.h6, h6 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 1.5;
}
.btn {
	font-size: 18px;
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 0;
}
.btn-main {
	color: #fff;
    background-color: #fbaf5d;
    border-color: #fbaf5d;
}
.btn-main:hover {
	background-color: #f1a757;
	border-color: #f1a757;
}
.semibold {
	font-weight: 600;
}
.light {
	font-weight: 300;
}
.img-full {
	width: 100%;
}
.text-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
    float: none;
    margin: 0 auto;
}
.bottom-line {
	border-bottom: 1px solid #e97878;
}
.owl-prev {
    height: 100px;
    position: absolute;
    top: 28%;
    margin-left: -20px;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    height: 100px;
    position: absolute;
    top: 28%;
    right: -25px;
    display: block !important;
    border:0px solid black;
}
.owl-next:focus, .owl-prev:focus {
	outline: none;
}
.owl-prev i, .owl-next i {
	width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #90979b;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    background-color: #ebebeb;
}
.owl-prev i {
	background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 9px;
}
.owl-next i {
	background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: -21px;
}
.owl-prev i:before, .owl-next i:before {
	font-size: 20px;
	display: none;
}

.hero {
	position: relative;
	background-color: #d35757;
}
.navbar-custom .navbar-brand {
	z-index: 10;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 1px;
}
.navbar-custom .navbar-brand .logo {
	width: 72px;
    margin-right: 10px;
}
.map {
  content: '';
  background-image: url('../images/map2.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.banner {
	padding: 5em 0;
}
.banner h1 {
	color: #fff;
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 15px;
	line-height: 1.3;
}
.banner h4 {
	color: #fff;
    font-weight: 300;
    line-height: 1.8;
}
.features {
	padding: 5em;
}
.features .icon-feature {
	width: 120px;
}
.features .icon-desc {
	width: 250px;
    padding: 20px;
    margin: 0 auto 50px auto;
    font-size: 13px;
}
.access .image-illustration img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.access .form-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #e1e1e1;
}
.access .form-wrapper .form-option {
	width: 360px;
}
.access .form-wrapper .form-option .form-heading {
	padding: 20px;
	text-align: center;
	background-color: #d35757;
}
.access .form-wrapper .form-option .form-heading h3 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 5px;
}
.access .form-wrapper .form-option .form-heading h5 {
	margin-bottom: 0;
    line-height: 1.6;
    font-weight: 300;
}
.access .form-wrapper .form-option .form-heading h3,
.access .form-wrapper .form-option .form-heading h5 {
	color: #fff;
}
.access .form-wrapper .form-option .form-content {
	padding: 40px 30px;
	background-color: #cccccc;
}
.access .form-wrapper .form-option .form-content input {
	padding: 12px 15px;
	font-size: 13px;
	color: #b7b7b7;
}
.access .form-wrapper .form-option .form-content input::placeholder {
  	color: #b7b7b7;
  	opacity: 1;
}
.access .form-wrapper .form-option .form-content input:-ms-input-placeholder {
  	color: #b7b7b7;
}
.access .form-wrapper .form-option .form-content input::-ms-input-placeholder {
  	color: #b7b7b7;
}
.access .form-wrapper .form-option .form-content label {
	color: #636363;
	margin-bottom: 6px;
}
.partner {
	padding: 5.5em 0;
}
.partner .carousel-content {
	width: 100%;
	margin: 4em 0;
}
.partner .carousel-content p {
	padding: 0 10em;
	line-height: 2;
	font-size: 15px;
	font-weight: 400;
    font-style: italic;
    color: #
}
.partner .carousel-title h4 {
	font-weight: 600;
}
.partner .carousel-content .logo-partner {
	width: 280px;
    margin: 0 auto 20px;
}
.partner .carousel-content .people-partner h5 {
	margin-bottom: 3px;
}
.partner .carousel-content .people-partner h6 {
	font-size: 13px;
	color: #959595;
}
.partner .carousel-content .people-partner .ava-partner {
	width: 88px;
	margin: 0 auto 10px;
	object-fit: cover;
}

footer {
	padding: 3em 0;
	text-align: center;
	color: #fff;
	background-color: #111111;
}  	
footer .footer-desc p {
	margin: 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 2;
	color: #fff;
}
footer .footer-link a {
	font-size: 12px;
	font-weight: 300;
	color: #fff;
}
@media (max-width: 1400px) {
	.video-frame .video-content {
		height: auto;
	}
}
@media (max-width: 1200px) {
   
}

@media (max-width: 480px) {

}